/*primary stylesheet*/
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/*header styling*/
header {
	background-color: #ffffff;
	display: inline;
	position: relative;
	width: 100%;
}

.top {
	width: 100%;
	border-style: solid;
	padding-top: 15px;
	padding-bottom: 15px;
	border-width: 0px 0px 2px 0px;
	border-color: #cccccc;
}

.top-sub {
	width: 65%;
	margin: auto;
}

h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	display: inline;
	padding: 15px;
}

nav {
	background-color: #ffffff;
	float: right;
	display: inline;
	/*padding: 15px;*/
}

nav ul {
	display: inline;
	color: #cccccc;
}

nav li {
	display: inline;
	padding: 10px;
}

nav a:link {
    text-decoration: none;
    color: #cccccc;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    text-decoration: underline;
}

/*body styling*/
.Main {
	background-image: url("../images/topography.png");
	width: 100%;
	text-align: center;
}

.Main-sub {
	width: 65%;
	padding: 30px 0px;
	display: inline-block;
	text-align: left;
}

.content-box {
	width: 60%;
	background-color: #ffffff;
	padding: 40px 20px 40px 20px;
	float: left;
	/*margin: 20px 20px 20px 0px;*/
}

h2 {
	padding-bottom: 10px;
}

#primary-hr {
	width: 100%;
	border: 0px;
	border-top: 2px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.aboutcontent {
	display: inline-block;
	padding: 20px 10px 20px 0px;
}

img {
	width: 200px;
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
	display: inline;
}

p {
	display: inline;
	line-height: 150%;
}

.connect-box {
	width: 35%;
	background-color: #ffffff;
	float: right;
	padding: 20px;
}

h3 {
	padding: 5px;
	margin-left: 2px;
}

#secondary-hr {
	margin-top: 10px;
	/*margin-left: 8px;*/
	margin-bottom: 15px;
	width: 100%;
	border: 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.social-links ul {
	display: inline;
	/*width: 100%;*/
}

.social-links li {
	display: inline;
	/*float: center;*/
}

.social-links img {
	width: 26%;
	margin: 10px;
}
/*all fonts*/
h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2, h3 {
	color: #4aaaa5;
}

nav li, p, .footer-text {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #666666;
}

/*footer styling*/
footer {
	position: relative;
	height: 65px;
	background: #666666;
	padding: 10px;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	border-color: #4aaaa5;
}

.footer-text {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #cccccc;
	font-size: 75%;
}

/*form styling*/
form {
	padding-top: 40px;
}

fieldset {
	border-style: solid;
	border-width: 0px;
	border-color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #cccccc;
}

input[type=text] {
	width: 60%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #cccccc;
	padding: 5px 0px;
	font-size: 115%;
}

input[name=Your-Message] {
	height: 200px;
}

input[type=button], input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
    margin: 10px 0px;
    cursor: pointer;
    font-size: 115%;
}

/*portfolio gallery styling*/
div.gallery {
    margin: 40px 20px 20px 20px;
    border: 0px solid white;
    float: left;
    width: 42%;
    position: relative;
    z-index: 1;
}

div.gallery:hover {
    border: 0px solid white;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}

/*Media Queries*/
@media only screen and (max-width: 980px) {
	.top-sub {
		width: 65%;
	}
}

@media only screen and (max-width: 768px) {
	.top-sub {
		width: 95%;
	}

	.Main-sub {
		width: 95%;
	}

	.content-box {
		width: 100%;
		margin-bottom: 30px;
	}

	.connect-box {
	width: 100%;
	}

	.social-links img {
	width: 10%;
}

@media only screen and (max-width: 640px) {

/*body*/
	.Main-sub {
		width: 95%;
	}

	.content-box {
		width: 100%;
		margin-bottom: 30px;
	}

	.connect-box {
	width: 100%;
	}

	.social-links img {
	width: 10%;
	}

/*header*/
	.top {
	padding-top: 0px;
	}

	.top-sub {
		width: 100%;
		text-align: center;
	}

	h1 {
	display: block;
	margin-bottom: 15px;
	} 

	nav {
		float: none;
	}
/*gallery*/
	div.gallery {
		width: 100%;
		margin:20px 0px 0px 0px;
	}
}






